@import './variables.scss';
@import './fonts/fonts.scss';
@import './classes.scss';
@import './mixins.scss';

:root {
  font-family: 'SF UI Display';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--tg-theme-text-color, #000);
  background-color: var(--tg-theme-secondary-bg-color, #F3F2F8);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--tg-theme-link-color, #5AC8FB);
  text-decoration: inherit;
}
a:hover {
  color: var(--tg-theme-link-color, #5AC8FB);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--tg-theme-button-color, #5AC8FB);
  cursor: pointer;
  transition: filter 0.15s;
  color: var(--tg-theme-button-text-color, #FFFFFF);

}

button:active {
  outline: none;
  filter: brightness(95%);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;

}


.card{
  background-color: var(--tg-theme-bg-color, #fff);
  padding: 2em;
  border-radius: 1em;
}
