
$theme-primary-text: var(--tg-theme-text-color, #000);
$theme-primary-bg: var(--tg-theme-bg-color, #fff);
$theme-secondary-bg: var(--tg-theme-secondary-bg-color, #F3F2F8);
$theme-hint: var(--tg-theme-hint-color,#9E9E9E);
$theme-link: var(--tg-theme-link-color, #A8D7F4);
$theme-button-bg: var(--tg-theme-button-color, #5AC8FB);
$theme-button-text: var(--tg-theme-button-text-color, #fff)
